@mixin maxWidth($value){
    @media screen and (max-width: $value) {
        @content;
    }
}

@mixin minWidth($value){
    @media screen and (min-width: $value) {
        @content;
    }
}

@mixin bgc($bg-color:$bg-color){
    background-color: $bg-color;
}

@mixin bgc-location($bg-color-location:$bg-color-location){
    background-color: $bg-color-location;
}

@mixin size($width, $height: (0.9*$width)){
    width: $width;
    height: $height;
}

@mixin hover($background-color){
    background-color: $background-color;
}

@mixin delay($rule, $number, $value) {
    @for $i from 1 to ($number + 1) {
      &:nth-child(#{$i}) {
        -webkit-#{$rule}-delay: (#{$i*$value});
        #{$rule}-delay: (#{$i*$value});
      }
    }
  }
