@mixin maxWidth($value){
    @content;
}

@mixin minWidth($value){
    @content;
}

@mixin bgc($bg-color:$bg-color){
    background-color: $bg-color;
}

@mixin bgc-location($bg-color-location:$bg-color-location){
    background-color: $bg-color-location;
}

@mixin size($width, $height){
    width: $width;
    height: calc($width * 0.7);
}

@mixin hover($background-color){
    background-color: $background-color;
}