//breakpoints map
$breakpoints: (
  'mobile': 768px,
  'tablet': 992px,
) !default;

//font
$text-font-family: 'Roboto', sans-serif !default;
$text-font-style: light;
$logo-headings-font-family: 'Shrikhand', cursive !default;


//colors
$primary-color: #9356DC;
$secondary-color-1: #FF79DA;
$secondary-color-2: #99E2D0;

$bg-color: #F7F7F7;
$logo-color-header: #272727;
$logo-color-footer:#fff;
$headings-color: #7C7C7C;
$footer-bg-color: #353535;
$nav-color-footer: #fff;
