//breakpoints map
$breakpoints: (
  'mobile': 992px,
  'tablet': 992px,
) !default;

//font
$text-headings-font-family: 'Roboto', sans-serif !default;
$logo-font-family: 'Shrikhand', cursive !default;


//colors
$color-primary: #9356DC;
$color-secondary-1: #FF79DA;
$color-secondary-2: #99E2D0;

$bg-color: #F7F7F7;
$bg-color-location: #EAEAEA;
$logo-color__header: #272727;
$logo-color-footer: #fff;
$btn-text-color:#fff;
$headings-color: #7C7C7C;
$footer-bg-color: #353535;
$nav-color-footer: #fff;
$resto-tag-color: #99E2D0;   

$color-gradient:linear-gradient(145deg, $color-secondary-1 25%, $color-primary 75%);

$loader-dur: 1000ms;
$loader-delay: 150ms;
$page-delay: $loader-dur + $loader-delay;