.footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    padding: 1.5rem 0rem 1.5rem 1rem;
    background-color: $footer-bg-color;
    &__logo{
        font-family: $logo-font-family;
        color: $logo-color-footer;
        font-size: 1.2em ;
    }
    &__nav{
        color: $nav-color-footer;
        font-family: $text-headings-font-family;
        font-style: regular;
        font-size: 1rem;
        &__lst{
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            &__item{
                display: flex;
                flex: 1;
            }
            // @mixin minWidth(){
            //     display: flex;
            //     flex-direction: row;
            //     gap: 1rem;
            // }
        }
    }
}