.footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 28px 0px 37px 24px;
    background-color: $footer-bg-color;
    &__logo{
        font-family: $logo-headings-font-family;
        color: $logo-color-footer;
        font-size: 1rem ;
    }
    &__nav{
        color: $nav-color-footer;
        font-family: $text-font-family;
        font-style: regular;
        font-size: 0.8rem;
        > ul{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            > li{
                display: flex;
                flex: 1;
            }
        }
    }
}