//variables
@import "../abstracts/variables";

//mixins
@import "../abstracts/mixins";

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem 1rem 0rem;
    &__logo {
        font-family: $logo-font-family;
        color: $logo-color__header;
        font-size: 2rem ;
    }
    @include minWidth($value: 992px){
        &__logo {
            font-size: 3rem ;
        }
    }
}