
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem 1rem 0rem;
    &__logo {
        font-family: $logo-headings-font-family;
        color: $logo-color-header;
        font-size: 2rem ;
        
    }
}