//variables
@import "../abstracts/variables";

//mixins
@import "../abstracts/mixins";

.loader{
    margin: 0 auto;
    border: 10px solid white;
    border-radius: 50%;
    height: 10vmin;
    width: 10vmin;
    border-left-color: $color-primary;
    border-right-color: $color-secondary-1; 
    // animation-name: spin; 
    // animation-duration: 1000ms;
    // animation-iteration-count: infinite;
    // animation-timing-function: linear;
    //animation-delay: 150ms;
    animation: spin 1000ms 150ms infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}