//variables
@import "../abstracts/variables";

//mixins
@import "../abstracts/mixins";

.loader{
    margin: 0 auto;
    border: 20px solid white;
    border-radius: 50%;
    height: 35vmin;
    width: 35vmin;
    border-left-color: $color-primary;
    border-right-color: $color-secondary-1; 
    animation: spin $loader-dur 1 linear;
    &__after{
        content: " ";
        opacity: 0; 
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}
