//variables
@import "../abstracts/variables";

//mixins
@import "../abstracts/mixins";

.pgResto{
    > .pgResto-wrapper{
        display: flex;
        flex-direction: column;
        > .pgResto-header{
            display: flex;
            flex-direction: row;
            justify-content:center;
            > .pgResto-header-icon{
                align-self: center;
                font-size: 1.5rem;
            }
            > .pgResto-header-logo{
                align-self: center;
                padding: 0rem 7rem 0rem 7rem;
            }
        }
        > .pgResto-main{
            display: flex;
            flex-direction: column;
            > .pgResto-menu{
                > .pgResto-title{
                    // margin: -8rem 0rem 0rem 0rem;
                    @include bgc($bg-color-location);
                    border-radius: 3rem 3rem 0rem 0rem;
                    > .pgResto-img{
                        height: 60vh;
                        object-fit: cover;   
                    }   
                    > .menu{
                        display: flex;
                        flex-direction: column;
                        gap: 3rem;
                        align-content: center;
                        padding: 1rem 1rem 3rem 1rem;   
                        > .resto-heading{
                           display: flex;
                           flex-direction: row;
                           gap: 8rem;
                            > .pgResto-title-heading{
                                font-family: $logo-font-family;
                                font-size: 1.5rem;
                                padding: 1rem 0rem 0rem 0rem;
                            }
                            > .pgResto-title-icon{
                               align-self: center;  
                               padding-top: 0.75rem; 
                            }
                        }
                        > .pgResto-menu-items{
                            display: flex;
                            flex-direction: column;
                            gap: 3rem;
                            > .menu-element{
                                display: flex;
                                flex-direction: column;
                                gap: 1.5rem; 
                                > .menu-title-group{
                                    > .menu-title{
                                        font-weight: 300;
                                        padding: 0rem 0rem 0.2rem 0rem;
                                        border-bottom: solid $resto-tag-color 0.2rem;
                                        > .menu-title-double{
                                            margin-left: -0.8rem;
                                            border-bottom: solid $bg-color-location 1rem;
                                            color: transparent;
                                        }
                                    }
                                }
                                > .menu-items{
                                    display: grid;
                                    grid-template-columns: repeat(1, 1fr);
                                    gap: 1rem;
                                    > .item{
                                        display: flex;
                                        flex-direction: row;
                                        gap: 1rem;   
                                        padding: 0.8rem 0.8rem 0.8rem 0.8rem;
                                        box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
                                        border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
                                        @include bgc();
                                        > .plat-info{
                                            flex: 1;
                                            display: grid;
                                            grid-template-columns: repeat(1, 1fr);
                                            gap: 0.3rem;
                                            > .item-heading{
                                                font-family: $text-headings-font-family;
                                                font-style: normal;
                                                font-weight: 700;
                                                font-size: 1rem;
                                                line-height: 21px;  
                                            }
                                            > .item-content{
                                                font-family: $text-headings-font-family;
                                                font-style: normal;
                                                font-weight: 300;
                                                font-size: 0.9rem;
                                                line-height: 19px;   
                                            }
                                        }
                                        > .item-price{
                                            margin-left: auto;
                                            align-self: flex-end;
                                            font-weight: 700;
                                            font-size: 0.9rem;
                                        }
                                        > .chosen{
                                            width: 4rem;
                                            height: 4.4rem;
                                            background: $resto-tag-color;
                                            display: flex;
                                            align-content: center;
                                            align-items: center;
                                            margin: -0.8rem -1rem -1rem auto;
                                            z-index: 1;
                                            border-radius: 0rem 1.2rem 1.2rem 0rem;
                                            // box-sizing:border-box;
                                            > .fa-solid {
                                                color: $btn-text-color;
                                                background: $resto-tag-color;
                                                align-self: center; 
                                                margin-left: auto;
                                                margin-right: auto;
                                            }
                                        }
                                    }
                                }
                            }
                        }    
                        > .pgResto-btn{
                            color: $btn-text-color;
                            font-size: 1rem;
                            font-weight: 700;
                            padding: 1rem 2rem 1rem 2rem;
                            background: linear-gradient(145deg, $color-secondary-1 25%, $color-primary 75%);
                            box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
                            border-radius: 3rem 3rem 3rem 3rem;
                            border: none;
                            align-self: center;
                            text-align: center;
                        } 
                    } 
                }
            }
        }
    }
}
