//variables
@import "../abstracts/variables";

//mixins
@import "../abstracts/mixins";

.pgResto{
    > .pgResto-wrapper{
        display: flex;
        flex-direction: column;
        > .header--resto{
            > .pgResto-header-icon{
                position: relative;
                float: left;
                padding-left: 1.5rem;
                align-self: center;
                font-size: 1.5rem;
            }
            > .pgResto-header-logo{
                align-self: center;
                margin-left: auto;
                margin-right: auto;
            }
        }
        
        > .pgResto-main{
            display: flex;
            flex-direction: column;
            > .pgResto-menu{
                > .pgResto-title{
                    > .pgResto-img{
                        height: 60vh;
                        object-fit: cover;   
                    }   
                    > .menu{
                        display: flex;
                        flex-direction: column;
                        gap: 3rem;
                        align-content: center;
                        padding: 1rem 1rem 3rem 1rem; 
                        position: relative;
                        margin: -8rem 0rem 0rem 0rem;
                        border-radius: 3rem 3rem 0rem 0rem;
                        @include bgc($bg-color-location); 
                        @include minWidth($value: 992px){
                            margin: -2rem 7rem 0rem 7rem; 
                            > .resto-heading{
                            display: flex;
                            gap: 1rem;
                            margin-left: auto;
                            margin-right: auto;
                            } 
                            > .pgResto-menu-items{
                                padding: 0rem 7rem 0rem 7rem;
                            }
                        }
                        > .resto-heading{
                        padding-top: 1.5rem;
                            > .pgResto-title-heading{
                                position: relative;
                                float: left;
                                font-family: $logo-font-family;
                                font-size: 1.5rem;
                            }
                            > .pgResto-title-icon{
                               position: relative;
                               float: right;
                               font-size: 1.5rem;
                               align-content: center;
                               align-self: center;  
                               padding: 0rem 2rem 0rem 0rem; 
                               &::before{
                                opacity: 1;
                               }
                               &:hover{
                                cursor: pointer;
                                transition: all .8s ease-in-out;
                                background-clip: text;
                                font-weight: 900;
                                background-image: linear-gradient(85deg, $color-secondary-1 3%, $color-primary 97%);
                                -webkit-text-fill-color: transparent; 
                                } 
                                &::after{
                                transition: all 1s;
                                background-clip: text;
                                font-weight: 900;
                                background-image: linear-gradient(85deg, $color-secondary-1 3%, $color-primary 97%);
                                -webkit-text-fill-color: transparent; 
                                } 
                            }
                        }
                        > .pgResto-menu-items{
                            display: flex;
                            flex-direction: column;
                            gap: 3rem;
                            > .menu-element{
                                display: flex;
                                flex-direction: column;
                                gap: 1.5rem; 
                                animation: platDisplay 500ms ease-out backwards;
                                @include delay(animation, 2, 1000ms);
                                > .menu-title-group{
                                    > .menu-title{
                                        font-weight: 300;
                                        padding: 0rem 0rem 0.2rem 0rem;
                                        border-bottom: solid $resto-tag-color 0.2rem;
                                        > .menu-title-double{
                                            margin-left: -0.8rem;
                                            border-bottom: solid $bg-color-location 1rem;
                                            color: transparent;
                                        }
                                    }
                                }
                                > .menu-items{
                                    display: grid;
                                    grid-template-columns: repeat(1, 1fr);
                                    gap: 1rem;
                                    animation: platDisplay 1000ms ease-out backwards;
                                    @include delay(animation, 2, 500ms);
                                    > .item{
                                        display: flex;
                                        flex-direction: row;
                                        gap: 1rem;   
                                        padding: 0.8rem 0.8rem 0.8rem 0.8rem;
                                        box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
                                        border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
                                        @include bgc();
                                        &:hover{
                                            gap: 0.5rem;
                                            > .chosen{
                                                margin: -0.8rem -1rem 0rem 0rem;
                                                background: $resto-tag-color;
                                                transition: margin 1000ms ease-in-out;
                                                > .fa-solid {
                                                    color: $btn-text-color;
                                                    background: $resto-tag-color;
                                                    transform: rotate(0deg);
                                                }
                                                >.fa-circle-check{
                                                    animation: rotateCheck 500ms 1;
                                                }
                                            }
                                        }
                                        > .plat-info{
                                            flex: 1;
                                            display: grid;
                                            grid-template-columns: repeat(1, 1fr);
                                            gap: 0.3rem;
                                            > .item-heading{
                                                font-family: $text-headings-font-family;
                                                font-style: normal;
                                                font-weight: 700;
                                                font-size: 1rem;
                                                line-height: 21px;  
                                            }
                                            > .item-content{
                                                font-family: $text-headings-font-family;
                                                font-style: normal;
                                                font-weight: 300;
                                                font-size: 0.9rem;
                                                line-height: 19px;   
                                            }
                                        }
                                        > .item-price{
                                            margin-left: auto;
                                            align-self: flex-end;
                                            font-weight: 700;
                                            font-size: 0.9rem;
                                        }
                                        > .fa-regular{
                                            color: transparent;
                                        }
                                        > .fa-circle-check{
                                            color: transparent;
                                        }
                                        > .chosen{
                                            width: 4rem;
                                            height: 158%;
                                            background: transparent;
                                            display: flex;
                                            align-content: center;
                                            align-items: center;
                                            margin: -0.8rem -2rem 0rem 0rem;
                                            z-index: 1;
                                            border-radius: 0rem 1.2rem 1.2rem 0rem;
                                            > .fa-solid {
                                                color: transparent;
                                                background: transparent;
                                                align-self: center; 
                                                margin-left: auto;
                                                margin-right: auto;
                                                transform: rotate(0deg);
                                            }
                                        }
                                    }
                                }
                            }
                        }    
                        > .pgResto-btn{
                            color: $btn-text-color;
                            font-size: 1rem;
                            font-weight: 700;
                            padding: 1rem 2rem 1rem 2rem;
                            background: linear-gradient(145deg, $color-secondary-1 25%, $color-primary 75%);
                            box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
                            border-radius: 3rem 3rem 3rem 3rem;
                            border: none;
                            align-self: center;
                            text-align: center;
                            &:hover{
                                background: linear-gradient(145deg, lighten($color-secondary-1, 5%) 25%, lighten($color-primary, 5%) 75%);
                                box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.65);
                            }
                        } 
                    } 
                }
            }
        }
    }
}

@keyframes platDisplay {
    0% {
        transform: scaleY(1);
        opacity: 0;
    }
    10% {
        transform: scaleY(0.8);
        opacity: 0;
    }
    24% {
        transform: scaleY(0.9);
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes rotateCheck {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
